#Contador{
    display: flex;
    justify-content: center;
}

button{
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
}